*{
    margin: 0;
    padding: 0;
}


/**    NAVIGATION       **/
.nav{
    background-color: orangered;
    color: white;
    padding: 5vh;
}

.nav-img{
    margin: 0 1em;
}

a{
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 2vh;
}

.boocic{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 300px;
}

/**    END OF NAVIGATION       **/

/**            HOME       **/

.btn{
    background-color: orangered;
    padding: 5px;

}

.home-image{
    background-image: url(images/banner2.jpg);
    background-size: cover;
    height: 60vh;
    color: white;
    text-align: center;
    padding: 15% 25% 0;
}


.home-image h1{
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 40px;
}

/**           END OF HOME       **/


/**    ABOUT       **/
.about{
    padding: 20vh 5vh 5vh 10vh;
}

h2{
    font-weight: bold;
    font-size: 3em;
    padding: .12em 0;
    border-bottom: 2px solid orangered;
    margin-bottom: .5em;
    width: 50%;
}

.about-intro{
    text-align: center;
    margin-bottom: 4em;
}

.about-main{
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    
    @media(min-width:60rem){
        flex-direction: row;
    }

}

.about-item{
    width: 90%;
    text-align: center;

@media(min-width:60rem){
    width: 45%;
}
}

.about-text{
    padding: .5em;
}

.about-img{
    background-image: url(images/aboutimg.png);
    background-size: cover;
    background-position: center;
}

h3{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 1em;
}

.central-about-btn{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.about-btn{
    background-color: black;
    padding: .5em 1em;
}

/**    END OF ABOUT      **/


/**          SCREENSHOT      **/
.screenshot{
margin: 5em; 
text-align: center;
}

.screenshot-img{
    background-image: url(images/banner.png);
    background-size: cover;
    height: 80vh;
    width: 80vw;
    margin-bottom: 3em;
    margin-top: 3em;

}

.screenshot-btn{
    padding: .5em 1em;
    background-color: black;
}

/**        END OF SREENSHOT      **/


/**        SERVICES      **/
.services{
    padding: 5em;
    text-align: center;
    background-color: lightgrey;
}

.catalogue{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.catalogue-item{
    margin: 1em;
}

figure img{
    border-radius: 15px;
}

figcaption{
    color: orangered;
    font-size: 1.25em;
}


/**        END OF SERVICES      **/



/**       OUR BLOG       **/

.our-blog{
    margin: 5em;
    text-align: center;
}

.blog-items{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.blog-item{
    margin: 1em;
    width: 25em;
}

figure img{
    width: 25em;
    height: auto;
}

.our-blog .blog-item figure p{
    padding: .5em;
    background-color: orangered;
    color: white;
    text-align: center;
    width: 30%;
}

.Comment , .like, span{
    color: orangered;
    display: inline;
}

/**        END OF OUR BLOG      **/






/**             ABOUT US          **/
.contact-us{
    background:  #000;
    padding: 5em;
    text-align: center;
}

.contact-us h2{
    color: white;
    margin-bottom: 1em;
    border-color: white;
}

.contact{
    padding: 1em;
    background: white;
    width: 20rem;
    margin: 0 auto;
}

.contact-btn-div{
    margin: 1.5em 0;
}

.contact-btn{
    background:  #000;
    padding: .5em 1em;
}

input, textarea{
    margin: .5em;
    padding: .5em;
    width: 80%;
}


/**        END OF ABOUT US      **/




/**                   FOOTER         **/
.footer{
    padding: 5em;
    color: white;
    text-align: center;
    background-color: orangered;
    display: flex;
    flex-direction: column;
}

@media(min-width: 60rem){
    .footer{flex-direction: row;}
}

.footer-item{
    margin: 2em;
}

.footer-item h4{
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 2em;
}

 li{
    display: inline;
}

.submit-btn{
    display: block;
    padding: .5em 1em;
    background-color: black;
    color: orangered;
}

/**        END OF FOOTER    **/


/**        COPYRIGHT **/
.copyright{
    padding: 1em;
    text-align: center;
}

.copyright a{
    color: inherit;
    text-decoration: none;
}

.copyright a:hover{
    color: orangered;
}
/**        END OF COPYRIGHT    **/


